digitaltwin/
preprocesing/expanded_payload_data.xlsx
preprocesing/expanded_payload_data2.xlsx
preprocesing/expanded_payload_data3.xlsx
preprocesing/GPS Setup 2.3-4.xlsx
preprocesing/VIMS Setup 2.3-4.xlsx
static/models/truck.stl