<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapbox Example</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map {
            width: 50%;
            height: 600px;
        }
        .mapboxgl-ctrl-attrib {
            display: none !important;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <label for="start-date">Start Date:</label>
    <input type="datetime-local" id="start-date" value="2023-05-08T18:00">
    <input type="datetime-local" id="end-date" value="2023-05-08T23:59">
    <button id="filter-btn">Apply Filter</button>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
    <script src="static/scripts/map_truck.js"></script>
</body>
</html>
